# MLflow local storage
mlruns/
mlflow.db
.trash/

# Python compiled files
__pycache__/
*.pyc

# Data
data/
*.parquet
*.csv

# Environment
.venv/
.env


notebooks/

# Ignore the massive map data
data/
*.osrm*

*.onnx
# Ignore Terraform state (contains sensitive IPs/IDs)
infra/.terraform/
infra/terraform.tfstate
infra/terraform.tfstate.backup
.terraform.lock.hcl


# Ignore IDE settings
.vscode/
.idea/
.DS_Store

# 3. MLflow & Database
mlruns/
mlflow.db