version: '3.8'
services:
  osrm-backend:
    image: osrm/osrm-backend:latest
    container_name: osrm-backend
    restart: always
    ports:
      - "5000:5000"
    volumes:
      - ./data:/data
    command: osrm-routed --algorithm mld /data/map.osrm
    deploy:
      resources:
        limits:
          memory: 2G
          